@import "../../assets/styles/breakpoints";
@import "../../assets/styles/variaveis";

.cardapio {
  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}
